/* Small Device */
@media (max-width: 576px)  {
    .nav-menu , .nav-btn{
        display: none;
    }
    .hamburger-menu{
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 16px 20px;   
    }  
    .wave {
      display: none;
    }
    .podcast-circle {
      width: 160px;
      height: 160px;
    }
    .podcast-circle img {
      width: 45px;
    }
    .banner h1 {
      font-size: 32px;
    }
    .cta-buttons {
      flex-direction: column;
    } 

  /* About Section  */
    .about-section{
        padding: 50px 15px;
      }

    .about-container {
      flex-direction: column;
      gap: 40px;
    }

    .about-stats {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      width: 100%;
    }

    .about-content h2 {
      font-size: 32px;
      text-align: center;
    }

    .about-content p {
      text-align: center;
    }

  /* why Choose section */
    .why-section{
      padding: 80px 20px;
    }

    .why-title {
      font-size: 32px;
      margin-bottom: 40px;
      text-align: center;
    }

    .why-grid {
      grid-template-columns: 1fr;
    }

    .why-card,
    .why-card.big,
    .why-card.wide,
    .why-card.small,
    .right-top,
    .right-bottom {
      grid-column: span 1;
      grid-row: auto;
    }

    .featured-section {
    padding: 80px 20px;
  }
  /* new Section */
  .featured-wrapper {
    grid-template-columns: 1fr;
  }

  .episode-grid {
    grid-template-columns: 1fr;
  }

  .section-title {
    text-align: center;
  }

  .host-card {
    flex-direction: column;
    text-align: center;
  }
  /* Footer */
  .footer {
    padding: 80px 24px;
  }

  .footer-inner {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-wave {
    text-align: center;
  }
  .footer-platforms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
    font-size: 14px;
  }
  .footer-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    justify-items: center;
  }

  .footer-logo {
    font-size: 32px;
  }
}

/* Medium Device */
@media (min-width: 576px) and (max-width: 992px){
    .nav-container{
        gap: 30px;
    }
    .featured-wrapper{
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
 
}


/* Large Device */
@media (min-width: 992px){
  .featured-wrapper{
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}