*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font-family */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* navber */
.navber{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background: rgb(19, 7, 36);
}
.nav-container{
    max-width: 1200px;
    margin: auto;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: rgba(255, 255, 255, 1);
    /* font-size: 3rem; */
    width: 219px;
    height: 32px;
}
.logo span{
    color:rgba(251, 9, 180, 1); 
}   
.nav-menu{
    list-style: none;
    display: flex;
    gap: 32px;
}
.nav-menu li a{
    color:rgba(255, 255, 255, 1) ;
    text-decoration: none;
    font-size: 16px;
}
.nav-btn{
    padding: 12px 16px;
    border-radius: 1000px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1));
    transition: 0.3s;
    cursor: pointer;
    
}
.nav-btn:hover{
    transform: scale(1.05);
}
.hamburger-menu{
    width: 440px;
    height: 60px;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px 16px 20px;
}
/* Banner Section */
.banner {
  position: relative;
  min-height: 100vh;
  background: url(/assets/hero-bg.png);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
}
.wave {
  position: absolute;
  top: 50%;
  width: 420px;
  transform: translateY(-50%);
  opacity: 0.7;
}
.wave-left {
  left: 0;
}
.wave-right {
  right: 0;
}
.banner-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
  padding: 20px;
}
.podcast-wrapper {
  position: relative;
  margin-bottom: 30px;
}

.podcast-circle {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  background: url(/assets/hero-circle.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.podcast-circle {
  animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 47, 215, 0.6);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 25px rgba(255, 47, 215, 0);
  }
  100% {
    transform: scale(1);
  }
}
.podcast-circle img {
  width: 60px;
}
.badge-new {
  position: absolute;
  top: 10%;
  left: 65%;
  transform: translate(-50%, -50%);
  background: #2dff7a;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 14px;
  border-radius: 20px;
}
.banner h1 {
  font-size: 3.75rem;
  font-style: bold;
  margin-bottom: 8px;
}

.banner p {
  font-size: 1rem;
  color: #d1d1d1;
  line-height: 1.6;
  align-items: center;
}

.cta-buttons {
  margin-top: 24px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 24px;
}
.cta-1{
    width: 201px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4;
    padding: 12px 16px;
    border-radius: 1000px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1));
    transition: 0.3s;
    cursor: pointer;
}
.cta-2{
    color: #00FF88;
    background: none;
    border: 2px solid #00FF88;
    border-radius: 1000px;
    width: 147px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4;
    padding: 12px 20px ;
    cursor: pointer;
}
 /* About Section  */
.about-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgb(19, 7, 36);
  padding: 50px 200px 120px 200px;
  color: #ffffff;
}

.about-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.about-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  flex: 1;
}

.stat-box {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 12px;
  padding: 30px 20px;
  text-align: center;
  border: 1px solid rgba(255,255,255,0.05);
}
.stat-box h3 {
  font-size: 3rem;
  color: #2dff7a;
  margin-bottom: 16px;
}
.stat-box p {
  font-size: 1rem;
  color: #cfcfcf;
}
.about-content {
  flex: 1;
}

.about-content h2 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 20px;
}

.about-content p {
  text-align: center;
  font-size: 16px;
  line-height: 1.8;
  color: #d1d1d1;
  margin-bottom: 80px;
}

/* why Choose section */

  .why-section {
    width: 100%;
    background: rgb(37, 2, 63);
    padding: 120px 200px;
    color: #fff;  
  }

  .why-wrapper {
    max-width: 100%;
    margin: auto;
  }

  .why-title {
    text-align: center;
    font-size: 3rem;
    font-style: bold;
    margin-bottom: 40px;
  }

  .why-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(160px, auto);
    gap: 24px;
  }

  .why-card {
    background: rgb(58, 7, 97);
    border-radius: 18px;
    padding: 28px;
    border: 1px solid rgba(255,255,255,0.08);
    transition: transform 0.3s ease;
  }

  .why-card:hover {
    transform: translateY(-6px);
  }

  .why-card img {
    width: 34px;
    margin-bottom: 14px;
  }

  .why-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .why-card p {
    font-size: 1rem;
    line-height: 1.6;
    color: #d6d6d6;
  }
  .why-card.big {
    grid-column: span 2;
    grid-row: span 2;
  }

  .why-card.wide {
    grid-column: span 3;
  }

  .why-card.small {
    grid-column: span 1;
  }
  .right-top{
    grid-column: 3/5;
    grid-row: 1/2;
  }
  .right-bottom{
    grid-column: 3/5;
    grid-row: 2/3;
  }

  .featured-section {
  background: #24003a;
  padding: 120px 200px;
  color: #fff;
}

.featured-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  max-width: 1400px;
  margin: auto;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 24px;
}

.episode-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.episode-card {
  background: #3a0761;
  border-radius: 18px;
  padding: 16px;
}

.video {
  position: relative;
  padding-top: 56.25%; 
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 12px;
}

.video iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.episode-card h3 {
  font-size: 1.1rem;
  margin: 10px 0;
}

.episode-card p {
  font-size: 0.9rem;
  color: #ddd;
}

.episode-card span {
  font-size: 0.85rem;
  color: #7dffb3;
}

.host-card {
  background: #3a0761;
  border-radius: 18px;
  padding: 24px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.host-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.host-card h3 {
  margin-bottom: 8px;
}
.host-contend img{
  width: 20px;
  height: 20px;
  gap: 10px;
}


/* Footer */
.footer {
  background: url(/assets/footer-bg.png);
  padding: 120px 100px;
  color: #fff;
  overflow: hidden;
}

.footer-inner {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}


.footer-wave img {
  width: 100%;
  max-width: 520px;
  opacity: 0.45;
}

.footer-wave.left {
  text-align: left;
}

.footer-wave.right {
  text-align: right;
}

.footer-center {
  text-align: center;
  max-width: 420px;
  margin: auto;
}

.footer-logo {
  font-size: 42px;
  font-weight: 700;
}

.footer-logo span {
  color: rgba(251, 9, 180, 1);
}


.footer-platforms {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin: 14px 0;
  font-size: 14px;
  color: #cfcfcf;
}


.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 16px;
}

.footer-icons img {
  width: 22px;
  opacity: 0.85;
  transition: 0.3s;
}

.footer-icons img:hover {
  transform: translateY(-3px);
  opacity: 1;
}

.footer-copy {
  font-size: 13px;
  color: #bdbdbd;
}